{% layout "server/layouts/base.liquid" %}

{% block content %}

<h1>{{ title }}</h1>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
  {% for item in items %}
    <div style="border: 1px solid #ccc; padding: 10px; width: 200px;">
      <a href="/weapon/{{ item.name | url_encode | replace: '+', '%20' }}">

        <h3>{{ item.name }}</h3>
        <img src="{{ item.image }}" alt="{{ item.name }}" width="180">
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
