{% layout "server/layouts/base.liquid" %}

{% block content %}

{% comment %} <h1>{{ title }}</h1> {% endcomment %}

<form method="GET" action="/" style="margin-bottom: 2rem;">
  <label>
    <input type="checkbox" name="category" value="rifles"
      {% if categoriesSelected contains 'rifles' %}checked{% endif %}>
    Rifles
  </label>
  <label>
    <input type="checkbox" name="category" value="pistols"
      {% if categoriesSelected contains 'pistols' %}checked{% endif %}>
    Pistols
  </label>
  <label>
    <input type="checkbox" name="category" value="heavy"
      {% if categoriesSelected contains 'heavy' %}checked{% endif %}>
    Heavy
  </label>
  <label>
    <input type="checkbox" name="category" value="submachine"
      {% if categoriesSelected contains 'submachine' %}checked{% endif %}>
    SMGs
  </label>
  <label>
    <input type="checkbox" name="category" value="knives"
      {% if categoriesSelected contains 'knives' %}checked{% endif %}>
    Knives
  </label>
  <button type="submit">Filter</button>
</form>


<section class="overview-container">
  {% for item in items %}
    <div class="item-container">
      <a href="/weapon/{{ item.name | url_encode | replace: '+', '%20' }}">

        <h3>{{ item.name }}</h3>
        <img src="{{ item.image }}" alt="{{ item.name }}" width="180">
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
