{% layout "server/layouts/base.liquid" %}

{% block content %}

<h2 class="skin-title">{{ skin.name }}</h2>
<a href="/">â† Terug naar overzicht</a>

<div style="background-color: {{ skin.rarity.color }};">
  <img class="skin-img"src="{{ skin.image }}" alt="{{ skin.name }}" width="300">
  <ul>
    <li>Rarity: {{ skin.rarity }}</li>
    <li>Weapon: {{ skin.weapon }}</li>
    <li>Pattern: {{ skin.pattern }}</li>
    <li>Collection: {{ skin.collection }}</li>
  </ul>
</div>

{% endblock %}
