{% layout "server/layouts/base.liquid" %}

{% block content %}

<a href="/">â† Terug naar overzicht</a>
<h2>Vind jouw {{ weapon }} skin</h2>

<div class="container">
  {% for skin in skins %}
    <div class="item" style=" background-color: {{ skin.rarity.color }};">
        <a href="/skin/{{ skin.name | url_encode | replace: '+', '%20' }}">
      <img src="{{ skin.image }}" alt="{{ skin.name }}" width="180">
      <h4>{{ skin.name }}</h4>

      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}
