{% layout "server/layouts/base.liquid" %}

{% block content %}

<a href="/">â† Terug naar overzicht</a>
<h2>Vind jouw {{ weapon }} skin</h2>

<section class="container">
  {% for skin in skins %}
    <article class="item" style=" background-color: {{ skin.rarity.color }};">
        <a href="/skin/{{ skin.name | url_encode | replace: '+', '%20' }}">
        <h3>{{ skin.name | split: ' | ' | last }}</h3>
        <img src="{{ skin.image }}" alt="{{ skin.name }}" width="180"
        style="view-transition-name: {{ skin.name 
  | replace: ' ', '-' 
  | replace: '|', '' 
  | replace: ';', '' 
  | replace: "'", '' 
  | replace: '.', '' 
  | replace: ',', '' 
  | downcase }}">

      </a>
    </article>
  {% endfor %}
</section>

{% endblock %}
